body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}
h1 {
	color: red;
	font-size: 50px;
	display: inline-block;
}
h2{
	font-size: 40px;
}
h3 {
	color: grey;
	font-size: 28px;
	display: inline-block;
}
h4 {
	color: #808080;
}
/*h5 {
	float: right;
}*/
nav {
	text-align: center;
}
nav ul {
	margin: 15px;
	padding: 0;
	display: inline-block;
	list-style: none;
}
nav li {
	float: left;
	width: 16.6667%;
	text-align: inline;
}
header nav a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 25px;
	background-color: black;
	margin: 0 2px 2px 0;
	padding: 10px 25px;
	height: 50px;
	width: 163px;
}
aside {
	float: right;
	width: 30%;
	color: #a6a6a6;
	font-family: 'Kameron', serif;
}
#aside {
	font-family: 'Raleway', sans-serif;
}
.ad {
	box-sizing: border-box;
	text-align: center;
	color: #999999;
	background-color: #bfbfbf;
	height: 250px;
	width: 350px;
	margin: 15px;
	font-size: 80px;
	font-family: 'Kameron', serif;
}
.date {
	color: lightgrey;
}
a {
	color: red;
	text-decoration: none;
}
.posts {
	color: red;
	font-family: 'Raleway', sans-serif;
}
.letter:first-of-type:first-letter{
	float: left;
	font-size: 4em;
	line-height: 1;
	color: lightgrey;
}
article {
	float: left;
	width: 70%;
}
#footer {
	float: left;
	width: 70%;
	list-style: none;
	margin-right: 2px;
	margin-left: 2px;
	color: #b3b3b3;
}
footer {
	float: left;
	width: 70%;
	color: grey;
}
aside ul li a {
	text-decoration: none;
}